{% extends 'is_web/base.html' %}

{% block tab_content %}
    <div class="card m-3">
        <img src="https://forsite-company.ru/upload/medialibrary/0ee/0ee48617a3950eeec64d1586b09517da.jpg"
             alt="super computer" width="300" height="300">
        <div class="card-body">
            <h5 class="card-title">Суперкомпьютер FORSITE HPC 1029 AI</h5>
            <p class="card-text">
                Универсальный гибридный сервер для задач AI/DL/ML, позволяет установить до 4-х графических ускорителей
                TESLA.
            </p>
            <a href="https://forsite-company.ru/services_and_solutions/supercomputers/" target="_blank"
               class="card-link">Запросить стоимость</a>
        </div>
    </div>
    <div class="card m-3">
        <img src="https://forsite-company.ru/upload/medialibrary/df4/df4a82a87e3b16d5ca50ad2907cd55d6.jpg"
             alt="super computer" width="300" height="300">
        <div class="card-body">
            <h5 class="card-title">Суперкомпьютер FORSITE HPC 4029 AI SXM NVlink</h5>
            <p class="card-text">
                Гибридный графический сервер для решения AI/DL задач. 8 x ускорителей TESLA V100 объединенных
                высокоскоростным интерфейсом NVLINK.
            </p>
            <a href="https://forsite-company.ru/services_and_solutions/supercomputers/" target="_blank"
               class="card-link">Запросить стоимость</a>
        </div>
    </div>
    <div class="card m-3">
        <img src="https://forsite-company.ru/upload/medialibrary/66c/66c15166405f6e6f8a754d157035100a.jpg"
             alt="super computer" width="300" height="300">
        <div class="card-body">
            <h5 class="card-title">Суперкомпьютер FORSITE HPC-6049 AI</h5>
            <p class="card-text">
                Решение высокой плотности для инференсных задач, 2х Intel Xeon Scalable с возможностью установки до
                20-тиграфических ускорителей T4.
            </p>
            <a href="https://forsite-company.ru/services_and_solutions/supercomputers/" target="_blank"
               class="card-link">Запросить стоимость</a>
        </div>
    </div>
{% endblock %}
