{% extends 'is_web/base.html' %}

{% block tab_content %}
    <div class="card m-3">
        <div class="card-header">
            Адреса
        </div>
        <div class="card-body">
            <h5 class="card-title">Расположение</h5>
            <p class="card-text">
                США: Сан-Франциско, Калифорния
            </p>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            телефоны
        </div>
        <div class="card-body">
            <h5 class="card-title">An Example of Formatting Phone Numbers</h5>
            <p class="card-text">
                754-3010<br>
                (541) 754-3010<br>
            </p>
        </div>
    </div>
    <div class="card m-3">
        <div class="card-header">
            Карта проезда
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/2GIS_logo.svg"
             alt="2GIS">
        <div class="card-body">
            <h5 class="card-title">2GIS в помощь</h5>
        </div>
    </div>
{% endblock %}
