{% extends 'is_web/base.html' %}

{% block tab_content %}
    <div class="card m-3">
        <div class="card-header">
            Информация об организации
        </div>
        <div class="card-body">
            <h5 class="card-title">Neuralink</h5>
            <p class="card-text">
                Нейротехнологическая компания, основанная Илоном Маском, планирующая заниматься разработкой и
                производством имплантируемых нейрокомпьютерных интерфейсов. Штаб-квартира компании расположена в
                Сан-Франциско.
            <ul class="my-ul">
                <li class="my-li">Фирма</li>
                <li class="my-li">2016</li>
                <li class="my-li">США: Сан-Франциско, Калифорния</li>
                <li class="my-li">Нейрокомпьютерный интерфейс <br> Нейропротезирование</li>
                <li class="my-li">около 100 чел. (август 2020)</li>
                <li class="my-li">
                    <a href="https://neuralink.com/" class="link-info" target="_blank">neuralink.com</a>
                </li>
            </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <p class="h1">Bosses</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>Ben</td>
                    <td>Rapoport</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Dongjin</td>
                    <td>Seo</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Mask</td>
                    <td>Elon</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Max</td>
                    <td>Hodak</td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>Paul</td>
                    <td>Merolla</td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>Philip</td>
                    <td>Sabes</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Andrii</td>
                    <td>Ohol</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Tim</td>
                    <td>Gardner</td>
                </tr>
                <tr>
                    <th>9</th>
                    <td>Tim</td>
                    <td>Hanson</td>
                </tr>
                <tr>
                    <th>10</th>
                    <td>Vanessa</td>
                    <td>Tolosa</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
