{% extends 'is_web/base.html' %}

{% block tab_content %}
    <div class="card m-3">
        <div class="card-header">
            Информация об организации
        </div>
        <div class="card-body">
            <h5 class="card-title">Neuralink</h5>
            <p class="card-text">
                Нейротехнологическая компания, основанная Илоном Маском, планирующая заниматься разработкой и
                производством имплантируемых нейрокомпьютерных интерфейсов. Штаб-квартира компании расположена в
                Сан-Франциско.
            </p>
        </div>
    </div>
{% endblock %}
